---
component: Banners
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/components/messages/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>Banners appear at the very top of the screen, above the application header, and are reserved for system-level
    messaging about loss of data or functionality.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
            resource key.
        </td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-banner"><code>com.atlassian.auiplugin:aui-banner</code>
        </td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key" data-amd-key="aui/banner"><code>aui/banner</code></td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.7</td>
    </tr>
    </tbody>
</table>
<h3>Examples</h3>

<!-- Example is in an iframe to ensure the banner is displayed within the "Examples" box -->
<iframe src="banner-example-iframe.html" title="Banner Example" style="width: 100%;" frameBorder="0"></iframe>

<h3>Code</h3>

<p>A banner can be created either through Application Header soy template or the Javascript API.</p>
<h4>Soy</h4>
<script is="aui-docs-code" type="text/handlebars">
    {call aui.page.header}
        {param logo: 'confluence' /}
        {param bannerContent}
            Your license has expired. <a href="#">Click here to renew</a>.
        {/param}
        {param primaryContent}
            <div class="aui-nav">
                <li><a href="http://example.com/">Navigation item or dropdown trigger</a></li>
            </div>
        {/param}
            {param secondaryContent}
            <div class="aui-nav">
                <li><a href="http://example.com/">Often an icon-only dropdown</a></li>
            </div>
        {/param}
    {/call}
</script>
<h4>Javascript</h4>


<p>The Javascript API is intended for use when HTTP 5xx errors are received from the server.</p>
<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <header id="header" role="banner"></header>
    </script>
    <script is="aui-docs-code" type="text/js">
        require(['aui/banner'], function (banner) {
            banner({
                body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.'
            });
        });
    </script>
</aui-docs-example>

<h3>Options</h3><h4>JavaScript options</h4>

<p>These options are set in the options object when creating a flag with JavaScript:</p>
<table class="aui">
    <thead>
    <tr>
        <th>Option</th>
        <th>Description</th>
        <th>Possible values</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>body</code></td>
        <td>The main content of the message.</td>
        <td>HTML</td>
        <td>none</td>
    </tr>
    </tbody>
</table>
