---
component: Icons
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/foundations/iconography/" class="aui-button aui-button-link docs-meta-link">Design
    guidelines</a>

<h3>Summary</h3>
<p>Icons are visual artifacts to communicate, guide and inform the user. They can help users find their way through an
    interface, make the meaning of buttons clearer, and prepare users for what is happening next. Icons work at their
    best when they're consistent, familiar and recognizable to the user.
</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-experimental-iconfont"><code>com.atlassian.auiplugin:aui-experimental-iconfont</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
<p>Global icons:</p>
<span class="aui-icon aui-icon-small aui-iconfont-add"></span>
<span class="aui-icon aui-icon-small aui-iconfont-add-comment"></span>
<span class="aui-icon aui-icon-small aui-iconfont-add-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-approve"></span>
<span class="aui-icon aui-icon-small aui-iconfont-appswitcher"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrows-down"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrows-left"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrows-up"></span>
<span class="aui-icon aui-icon-small aui-iconfont-attachment"></span>
<span class="aui-icon aui-icon-small aui-iconfont-attachment-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-autocomplete-date"></span>
<span class="aui-icon aui-icon-small aui-iconfont-back-page"></span>
<span class="aui-icon aui-icon-small aui-iconfont-blogroll"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-decisions"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-default"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-files"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-requirements"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-howto"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-jira"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-meeting"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-retrospective"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-sharedlinks"></span>
<span class="aui-icon aui-icon-small aui-iconfont-bp-troubleshooting"></span>
<span class="aui-icon aui-icon-small aui-iconfont-build"></span>
<span class="aui-icon aui-icon-small aui-iconfont-calendar"></span>
<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
<span class="aui-icon aui-icon-small aui-iconfont-collapsed"></span>
<span class="aui-icon aui-icon-small aui-iconfont-comment"></span>
<span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
<span class="aui-icon aui-icon-small aui-iconfont-confluence"></span>
<span class="aui-icon aui-icon-small aui-iconfont-copy-clipboard"></span>
<span class="aui-icon aui-icon-small aui-iconfont-custom-bullet"></span>
<span class="aui-icon aui-icon-small aui-iconfont-delete"></span>
<span class="aui-icon aui-icon-small aui-iconfont-deploy"></span>
<span class="aui-icon aui-icon-small aui-iconfont-details"></span>
<span class="aui-icon aui-icon-small aui-iconfont-doc"></span>
<span class="aui-icon aui-icon-small aui-iconfont-down"></span>
<span class="aui-icon aui-icon-small aui-iconfont-drag-vertical"></span>
<span class="aui-icon aui-icon-small aui-iconfont-edit"></span>
<span class="aui-icon aui-icon-small aui-iconfont-edit-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-email"></span>
<span class="aui-icon aui-icon-small aui-iconfont-error"></span>
<span class="aui-icon aui-icon-small aui-iconfont-expanded"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-code"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-doc"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-java"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-pdf"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-ppt"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-txt"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-wav"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-xls"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-zip"></span>
<span class="aui-icon aui-icon-small aui-iconfont-flag"></span>
<span class="aui-icon aui-icon-small aui-iconfont-focus"></span>
<span class="aui-icon aui-icon-small aui-iconfont-group"></span>
<span class="aui-icon aui-icon-small aui-iconfont-handle-horizontal"></span>
<span class="aui-icon aui-icon-small aui-iconfont-help"></span>
<span class="aui-icon aui-icon-small aui-iconfont-hipchat"></span>
<span class="aui-icon aui-icon-small aui-iconfont-homepage"></span>
<span class="aui-icon aui-icon-small aui-iconfont-image"></span>
<span class="aui-icon aui-icon-small aui-iconfont-image-extrasmall"></span>
<span class="aui-icon aui-icon-small aui-iconfont-image-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-info"></span>
<span class="aui-icon aui-icon-small aui-iconfont-like"></span>
<span class="aui-icon aui-icon-small aui-iconfont-like-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-weblink"></span>
<span class="aui-icon aui-icon-small aui-iconfont-link"></span>
<span class="aui-icon aui-icon-small aui-iconfont-list-add"></span>
<span class="aui-icon aui-icon-small aui-iconfont-list-remove"></span>
<span class="aui-icon aui-icon-small aui-iconfont-locked"></span>
<span class="aui-icon aui-icon-small aui-iconfont-locked-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-macro-code"></span>
<span class="aui-icon aui-icon-small aui-iconfont-macro-default"></span>
<span class="aui-icon aui-icon-small aui-iconfont-macro-gallery"></span>
<span class="aui-icon aui-icon-small aui-iconfont-macro-status"></span>
<span class="aui-icon aui-icon-small aui-iconfont-more"></span>
<span class="aui-icon aui-icon-small aui-iconfont-nav-children"></span>
<span class="aui-icon aui-icon-small aui-iconfont-page-blank"></span>
<span class="aui-icon aui-icon-small aui-iconfont-page-blogpost"></span>
<span class="aui-icon aui-icon-small aui-iconfont-page-default"></span>
<span class="aui-icon aui-icon-small aui-iconfont-page-template"></span>
<span class="aui-icon aui-icon-small aui-iconfont-pages"></span>
<span class="aui-icon aui-icon-small aui-iconfont-quote"></span>
<span class="aui-icon aui-icon-small aui-iconfont-redo"></span>
<span class="aui-icon aui-icon-small aui-iconfont-remove"></span>
<span class="aui-icon aui-icon-small aui-iconfont-remove-label"></span>
<span class="aui-icon aui-icon-small aui-iconfont-review"></span>
<span class="aui-icon aui-icon-small aui-iconfont-rss"></span>
<span class="aui-icon aui-icon-small aui-iconfont-search"></span>
<span class="aui-icon aui-icon-small aui-iconfont-search-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-share"></span>
<span class="aui-icon aui-icon-small aui-iconfont-sidebar-link"></span>
<span class="aui-icon aui-icon-small aui-iconfont-sourcetree"></span>
<span class="aui-icon aui-icon-small aui-iconfont-space-default"></span>
<span class="aui-icon aui-icon-small aui-iconfont-space-personal"></span>
<span class="aui-icon aui-icon-small aui-iconfont-star"></span>
<span class="aui-icon aui-icon-small aui-iconfont-success"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-bg"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-col-left"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-col-remove"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-col-right"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-copy-row"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-cut-row"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-header-column"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-header-row"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-merge"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-no-bg"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-paste-row"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-remove"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-row-down"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-row-remove"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-row-up"></span>
<span class="aui-icon aui-icon-small aui-iconfont-table-split"></span>
<span class="aui-icon aui-icon-small aui-iconfont-teamcals"></span>
<span class="aui-icon aui-icon-small aui-iconfont-time"></span>
<span class="aui-icon aui-icon-small aui-iconfont-undo"></span>
<span class="aui-icon aui-icon-small aui-iconfont-unfocus"></span>
<span class="aui-icon aui-icon-small aui-iconfont-unlocked"></span>
<span class="aui-icon aui-icon-small aui-iconfont-unstar"></span>
<span class="aui-icon aui-icon-small aui-iconfont-unwatch"></span>
<span class="aui-icon aui-icon-small aui-iconfont-up"></span>
<span class="aui-icon aui-icon-small aui-iconfont-user"></span>
<span class="aui-icon aui-icon-small aui-iconfont-user-status"></span>
<span class="aui-icon aui-icon-small aui-iconfont-view"></span>
<span class="aui-icon aui-icon-small aui-iconfont-view-card"></span>
<span class="aui-icon aui-icon-small aui-iconfont-view-list"></span>
<span class="aui-icon aui-icon-small aui-iconfont-view-table"></span>
<span class="aui-icon aui-icon-small aui-iconfont-warning"></span>
<span class="aui-icon aui-icon-small aui-iconfont-watch"></span>
<span class="aui-icon aui-icon-small aui-iconfont-workbox"></span>
<span class="aui-icon aui-icon-small aui-iconfont-workbox-empty"></span>
<span class="aui-icon aui-icon-small aui-iconfont-configure-columns"></span>
<span class="aui-icon aui-icon-small aui-iconfont-export"></span>
<span class="aui-icon aui-icon-small aui-iconfont-export-list"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-image"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-fusion"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-jira-fields"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-issue"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-notifications"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-roles"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-jira-screens"></span>
<span class="aui-icon aui-icon-small aui-iconfont-pause"></span>
<span class="aui-icon aui-icon-small aui-iconfont-priority-highest"></span>
<span class="aui-icon aui-icon-small aui-iconfont-priority-high"></span>
<span class="aui-icon aui-icon-small aui-iconfont-priority-medium"></span>
<span class="aui-icon aui-icon-small aui-iconfont-priority-low"></span>
<span class="aui-icon aui-icon-small aui-iconfont-priority-lowest"></span>
<span class="aui-icon aui-icon-small aui-iconfont-refresh-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-share-list"></span>
<span class="aui-icon aui-icon-small aui-iconfont-switch-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-version"></span>
<span class="aui-icon aui-icon-small aui-iconfont-workflow"></span>
<span class="aui-icon aui-icon-small aui-iconfont-admin-jira-settings"></span>
<span class="aui-icon aui-icon-small aui-iconfont-component"></span>
<span class="aui-icon aui-icon-small aui-iconfont-reopen"></span>
<span class="aui-icon aui-icon-small aui-iconfont-roadmap"></span>
<span class="aui-icon aui-icon-small aui-iconfont-deploy-success"></span>
<span class="aui-icon aui-icon-small aui-iconfont-deploy-fail"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-generic"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrow-down"></span>
<span class="aui-icon aui-icon-small aui-iconfont-arrow-up"></span>
<span class="aui-icon aui-icon-small aui-iconfont-file-video"></span>
<span class="aui-icon aui-icon-small aui-iconfont-blogroll-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-email-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-1col-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-2col-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-2col-left-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-2col-right-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-3col-center-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-layout-3col-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-nav-children-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-pages-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-sidebar-link-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-teamcals-large"></span>
<span class="aui-icon aui-icon-small aui-iconfont-user-large"></span>

<p>Dev tools icons:</p>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-left"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-right"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-branch"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-branch-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-browse-up"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-checkout"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-clone"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-commit"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-compare"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-file"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-file-binary"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-file-commented"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-folder-closed"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-folder-open"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-fork"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-pull-request"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-repository"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-repository-forked"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-repository-locked"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-side-diff"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-submodule"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-tag"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-tag-small"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-task-disabled"></span>
<span class="aui-icon aui-icon-small aui-iconfont-devtools-task-in-progress"></span>

<p>Editor icons:</p>
<span class="aui-icon aui-icon-small aui-iconfont-editor-align-center"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-align-left"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-align-right"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-bold"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-color"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-emoticon"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-help"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-hr"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-indent"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-italic"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-layout"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-list-bullet"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-list-number"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-macro-toc"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-mention"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-outdent"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-styles"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-symbol"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-table"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-task"></span>
<span class="aui-icon aui-icon-small aui-iconfont-editor-underline"></span>

<p>JIRA icons:</p>
<span class="aui-icon aui-icon-small aui-iconfont-jira"></span>
<span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task"></span>
<span class="aui-icon aui-icon-small aui-iconfont-jira-test-session"></span>

<p class="sandbox-details">You should adjust the alternative text (the text inside the SPAN element) to suit the meaning
    and usability of your scenario. If you are using it in a button which has the button's action as visible text, you
    don't need to duplicate the text inside the icon too. However if you are creating an icon-only control, you should
    include the alternative text.
</p>
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p>Icons are simply SPAN elements with an image or icon font applied. Text inside the span is hidden and can be used as
    assistive/alternative text.
</p>
<script is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-SIZE aui-iconfont-TYPE">Alternative Text</span>
</script>
<h4>Soy</h4>
<script is="aui-docs-code" type="text/handlebars">
    {call aui.icons.icon}
        {param useIconFont: true /}
        {param size: 'large' /}
        {param icon: 'configure' /}
    {/call}
</script>

<h3>Options</h3>
<p>Vector icon sizes:</p>
<ul>
    <li>small</li>
    <li>large</li>
</ul>
<h4>Simple 'wait' spinner</h4>
<p>You're waiting. The user's waiting. Use the wait icon:
    <span class="aui-icon aui-icon-wait">Loading, please wait</span></p>
<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <span class="aui-icon aui-icon-wait">Loading...</span>
    </script>
</aui-docs-example>
<p>By default this icon expects a white background; but will also work in Buttons, Dropdown2, Tabs and Navigation. Small
    only.
</p>
